<p>
  dashboard works!
</p>
<p>Parent: {{message}}</p>
<p>Current Page {{currentPage}}</p>
<app-pagination (messageEvent)="receiveMessage($event)"
(goNext)="receiveNextPage()"
(goPrev) = "receivePrevPage()"
[currentParentPage]="currentPageAppend"
></app-pagination>

<ul>
  <li *ngFor="let user of usersList">{{user.id}} -- {{user.first_name}} -- {{user.last_name}}</li>
</ul>
<ngb-pagination (pageChange)="pageChanged($event)"  [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale">
 <p style="font-size: 20px; color: white"></p>
</ngx-spinner>